@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Real Wheels Davao</h3>

<address>
    c/o Real Breeze Travel and Tours<br />
    2nd Floor Prime-Z Bldg Mac Arthur Hway<br />
    Matina, Davao City (fronting Ateneo Grade School) <br />
</address>

<address>
    <strong>Landline:</strong><a href="tel:+63822971831">(+63) 82 297 1831 </a><br />
    <strong>Smart:</strong>   <a href="tel:+639292113987">(+63) 929-211-3987</a><br />
    <strong>Globe:</strong>   <a href="tel:+639167558473">(+63) 916-755-8473</a><br />
    <strong>Viber:</strong>   <a href="viber://chat?number=09167558473">[09167558473]</a><br />
</address>
<address>
    <strong>Inquiry:</strong><a href="mailto:Inquiries.RealWheels@Gmail.com">Inquiries.RealWheels@Gmail.com</a><br />
    <strong>Reservation:</strong><a href="mailto:Reservation.RealWheels@Gmail.com">Reservation.RealWheels@Gmail.com</a>
</address>

<div id="map" style="width:600px">
    https://goo.gl/maps/Q5QBmS8mEWn
</div>

<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
    var uluru = { lat: 7.06315, lng: 125.5955973 };
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 17.25, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOn9RcU8qjULTkj4tsS7Lk4tfsAKho0V8&callback=initMap">
</script>
