
<div id="joblisting-filter" class="row" style="background-color:#f3f3f3;padding:15px; box-shadow:0px 0px 5px 2px lightgray; ">

    <div class="col-lg-3">

        <h5>Start Date</h5>
        <input type="date" value="@ViewBag.sDate" id="startDate" />
    </div>
    <div class="col-lg-3">
        <h5>End Date</h5>
        <input type="date" value="@ViewBag.eDate" id="endDate" />
    </div>

    <div class="col-lg-3">
        <h5>Payers Name (Description)</h5>
        <input type="number" value="@ViewBag.Id" id="id-input" />
    </div>


    <div class="col-lg-3">
        <br />
        <button class="btn btn-primary" onclick="reportUpdate();"> Filter </button>
        @Html.ActionLink("Print View", "PaymentsPrint", null, new { @class = "btn btn-default" })
    </div>
</div>

<div class="row" style="border: 1px solid lightgray;height:600px; padding:20px;margin-top:15px; box-shadow:0px 0px 5px 2px lightgray; ">

    @{Html.RenderAction("Payments");}

</div>
