JobsV1/obj/Debug/edmxResourcesToEmbed/Models/JobDB.csdl
JobsV1/obj/Debug/edmxResourcesToEmbed/Models/JobDB.ssdl
JobsV1/obj/Debug/JobsV1.csprojResolveAssemblyReference.cache
JobsV1/obj/Debug/JobsV1.csprojResolveAssemblyReference.cache
JobsV1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JobsV1/app_offline.htm
JobsV1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
