@model IEnumerable<JobsV1.Models.CustCategory>

@{
    ViewBag.Title = "PartialView_CompanyDetails";
    int customerId = Convert.ToInt32(ViewData["customerId"]);
}


<table class="table table-striped ">
    <tr>
        <th>
            Icon
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.iconPath)" width="20" height="20" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>           
             @Html.ActionLink("Remove", "Remove", "CustCats" ,new { catid = item.Id , custid = customerId }, null)
        </td>
    </tr>
}

</table>
