@model IEnumerable<JobsV1.Models.JobServiceItem>
@{ int SvcId = Convert.ToInt32(ViewData["svcId1"]);  }

<div class="section">
    <span>Inventory </span>
        @foreach (var item in Model)
        {
            <span>&#187;</span>
             <span>
                @Html.DisplayFor(modelItem => item.InvItem.ItemCode)
            </span>
        }
    [
    @Html.ActionLink("Edit", "InventoryItemList", new { serviceId = @SvcId }) | 
    @Html.ActionLink("Add", "BrowseInvItem_withSchedule", new { JobServiceId = @SvcId })
    ]
</div>

