

@{
    ViewBag.Title = "Rent A Car | Van, Suv, Car Rental Services | Davao City";
    ViewBag.Description = 
@"Rent a Car company offering affordable selfdrive, with driver, Long term and short term car rental service in Davao City, Philippines.
Units (Vehicles for rent) : Grandia/Super/Nissan Premium, SUV, Ford Everest, Innova, Fortuner, Honda City, Toyota Vios.";
}
<div class="col-lg-12">
    <hr />
    <div class="col-lg-12">
        <h3> Articles </h3>
    </div>

    <div class="col-lg-3" style="width:300px;border:1px solid lightgray;margin:10px;padding:10px;box-shadow: 0px 0px 8px 3px lightgray;">
        <img src="~/Images/CarRental/Banner/RealwheelsDavaoBanner.png" width="250" />
        <h4> Articles </h4>
        <p>  They have partnered with several car rental companies in Davao City to expand its lineup of 
        reliable vehicles for rent for you to choose which one is the cheapest and affordable that suits your budget.</p>
    </div>

    <div class="col-lg-3" style="width:300px;border:1px solid lightgray;margin:10px;padding:10px;box-shadow: 0px 0px 8px 3px lightgray;">
        <img src="~/Images/CarRental/Banner/RealwheelsDavaoBanner.png" width="250" />
        <h4> Articles </h4>
        <p>
            They have partnered with several car rental companies in Davao City to expand its lineup of
            reliable vehicles for rent for you to choose which one is the cheapest and affordable that suits your budget.
        </p>
    </div>

    <div class="col-lg-3" style="width:300px;border:1px solid lightgray;margin:10px;padding:10px;box-shadow: 0px 0px 8px 3px lightgray;">
        <img src="~/Images/CarRental/Banner/RealwheelsDavaoBanner.png" width="250" />
        <h4> Articles </h4>
        <p>
            They have partnered with several car rental companies in Davao City to expand its lineup of
            reliable vehicles for rent for you to choose which one is the cheapest and affordable that suits your budget.
        </p>
    </div>

</div>