@model JobsV1.Models.CarUnit

@{
//ViewBag.Title = "CarDetail_sedan";
}

<h2>SUV</h2>

<a href="http://RealWheelsDavao.com">SUV (Sports Utility Vehicle)</a> is one of the most popular vehicle for executives, long travels and rough

terrain in Philippines. Different SUVs offer different ride quality and terrain capabilities. Most of

the SUVs are capable of carrying at least 7 persons and have ample amount of cargo for luggages, tools,

and/or equipments. SUVs usually built tough with high ground clearance that gives confidence and command

in the road.

&nbsp;

&nbsp;
<h2>Rent-A-car</h2>
Ford Everest is one of most popular <a href="http://RealWheelsDavao.com">SUV</a> in the Philippines. The comfort of riding a Ford Everest in long

travel makes it the best choice for <a href="http://RealWheelsDavao.com">Real wheels Davao</a>. Executives also choose the Ford

Everest due to its comfort and relaxing ride in the city.

Toyota Fortuner 4x4 is a popular tough <a href="http://RealWheelsDavao.com">SUV </a>for rugged terrains. A very popular choice for every <a href="http://RealWheelsDavao.com">Rent-</a>

A-car company due to its toughness, high ground clearance and, being Toyota, it durability.

&nbsp;
<h2>SUVs for Rent</h2>
<a href="http://RealWheelsDavao.com">Ford Everest</a> is offered as with Driver for SUV rental. It can cater all types of family occasions and

any kind of business trips. VIP guests are welcome with special attention from the company. Long term

contracts with special arrangements, terms and rates are open for negotiation.

<a href="http://RealWheelsDavao.com">Toyota Fortuner</a> is offered for selfDrive and with driver option by the Rent-a-car company. SelfDrive

rental is limited within Davao City areas only. Adjacent cities are considered for long term rentals.

With driver rental is offered in convenient and flexible options. Fuel and Driver's meals/accommodation

is flexible and can be discussed openly.

Available Units for rent:
<a href="http://RealWheelsDavao.com">Ford Everest 2016</a>
<br />2.2 Diesel - 6 speed Automatic Transmission
<br />Driver + 5-7 persons + 2-4 trolleys

<a href="http://RealWheelsDavao.com">Toyota fortuner 2011</a>
<br />3.0 Diesel - 5 speed Automatic Transmission
<br />Driver + 5-7 persons + 2-4 trolleys
