@model JobsV1.Models.CarUnit

@{
    
}

<h2>VAN</h2>
&nbsp;

<a href="http://RealWheelsDavao.com/van-for-rent">VAN</a> is the most popular vehicle transporting people for both company and family use. It can

comfortably accommodate 10-14 pax with enough luggage.

&nbsp;
<br />

<h2>Rent-A-Car</h2>
<a href="http://RealWheelsDavao.com/van-for-rent">VAN</a> is top choice for rent-a-car business for conventions, city tours and all types of

occasions. Top models use by rent-a-car companies are:

<a href="http://RealWheelsDavao.com/van-for-rent">Toyota Grandia GL</a> is a 10-12 seater van and as of this time, top choice due to

its known reliability and toughness. This model is the all-time favorite in

rent-a-car business because it can accommodate most of the client needs.

<a href="http://RealWheelsDavao.com/van-for-rent">Toyota Super Grandia</a> is a 10 seater executive van that built for comfort. You

expect 2 captain seats and other well padded leather seats at the back. Commonly

used to VIP and hire profile guests of rent-a-car company.

<a href="http://RealWheelsDavao.com/van-for-rent">Nissan Urvan Premium</a> is another contender for van rentals (rent-a-car) due to its

capacity which accommodates up to 14 pax and still got extra room for luggages.

It's a highroof van that makes it even bigger and have extra head space that

makes the van more ventilated and refreshing compared to other regular vans.

&nbsp;
<br />
<h2>VAN rental</h2>
<a href="http://RealWheelsDavao.com/van-for-rent">Vans</a> are offered as with driver car rental/van rental. It can cater all types of family

occasions and any kind of business trips. VIP guests are welcome with special

attention from the company. Short term and Long term van rental with special

arrangements, terms and rates are open for negotiation.

&nbsp;
<br /><br />

Available Vans for rent:
<br /><strong>Nissan Urvan Premium</strong>
<br />2.5 Diesel - 5 speed Automatic Transmission
<br />Driver + 14 persons + 3-6 trolleys
<br />
<br /><strong>Toyota Super Grandia</strong>
<br />2.5/3.0 Diesel - 5 speed Manual/Automatic Transmission
<br />Driver + 10-12 persons + 2-4 trolleys
<br />
<br /><strong>Toyota Grandia GL</strong>
<br />2.5/3.0 Diesel - 5 speed Manual/Automatic Transmission
<br />Driver + 10-12 persons + 2-4 trolleys




