@model JobsV1.Models.CarUnit

@{
//ViewBag.Title = "CarDetail_sedan";
}

<h4>Pickup</h4>
&nbsp;
<h2>Rent A car</h2>
<strong>Pickup</strong> is the most practical rent a car vehicle for difficult terrains and cargo hauling use. Pickup is always the rent a car favorites specialy for unkown terrains because of its offroad capabilities, power and toughness.

&nbsp;
<br />
<h2>Pickup for Rent</h2>
<strong>Pickup</strong> is offered in SelfDrive or with driver option by the Rent a car company. Long term and short term rentals is offered with flexible options. Fuel and Driver's meals/accommodation is be discussed openly.

&nbsp;
<br />
<h2>Available Units for Rent</h2>
<strong>Mitsubishi Strada</strong>
<br />Manual Transmission, 2.5 Diesel
<br />
<br />
<strong>Toyota Hilux</strong>
<br />Manual Transmission, 3.0 Diesel

Gallery:
