@model JobsV1.Models.CarUnit

@{
//ViewBag.Title = "MPV/AUV for Rent";
}

<h2>Toyota Innova</h2>
<p>
    <a href="http://realwheelsdavao.com/CarRental/toyota-innova-for-rent">Toyota innova</a>&nbsp;
    is the best MPV/AUV vehicle in the Philippines. With the Innova, you are
    provided with generous space while having the luxury of comfort. Toyota innova has enough luggage space
    to accommodate your family's luggages and built tough to give you the right confidence while maintains
    its soft and comfortable ride.
</p>
&nbsp;
&nbsp;


<h2>
    Rent-A-car
</h2>
<p>
    <a href="http://realwheelsdavao.com/CarRental/toyota-innova-for-rent">Toyota innova</a>&nbsp;
    is a multipurpose, versatile vehicle and is one of the favorites in<a href="http://RealWheelsDavao.com"> car rental (rent-a-car) companies</a> 
    business. Rent-a-car companies like <a href="http://RealWheelsDavao.com">Real Wheels Davao</a> choose Toyota Innova due to
    its reliabiliy, comfort and space that could serve well their guests.
</p>
&nbsp;
&nbsp;


<h2>
    Innova for Rent
</h2>
<p>
    <a href="http://realwheelsdavao.com/CarRental/toyota-innova-for-rent">Toyota innova</a>&nbsp;
    is offered for selfDrive and with driver option by the <a href="http://RealWheelsDavao.com"> car rental company</a>. SelfDrive
    rental is limited within Davao City areas only. Adjacent cities are considered for long term rentals.
    With driver option rental is offered in convenient and flexible options. Fuel and Driver's meals/accommodation
    is flexible and can be discussed openly.
</p>

&nbsp;
&nbsp;
<h2>Available Units for rent:</h2>
<p>
    Toyota Innova 2013
    Manual Transmission, 2.5 D4d Diesel powered
    Driver + 5-7 persons + 2-4 trolleys
</p>
<p>
    Toyota Innova 2015
    Manual Transmission, 2.5 D4d Diesel powered
    Driver + 5-7 persons + 2-4 trolleys
</p>
&nbsp;
&nbsp;
<h2>Gallery</h2>

<div style="visibility:hidden;">
    YOAST Analysis
    -No Images
</div>