@model JobsV1.Models.CarUnit

@{
//ViewBag.Title = "CarDetail_sedan";
}

<h4>Sedan</h4>
<h2>Rent-A-car</h2>
<strong>Sedan</strong> is the most practical and economical vehicle for business meetings and now, for family use. Sedan is always one of the favorites not only in smaller filipino families but as well as car rental business (rent a car). sedan is usually cheapest in terms of rental rates yet one of the most comfortable, light and easy specially in city driving.

&nbsp;
<h2>Sedan for Rent</h2>
<strong>Sedan</strong> is offered for selfDrive and with driver option by the Rent-a-car company. SelfDrive sedan rental is limited within Davao City areas only. Adjacent cities are considered for long term rentals. With driver rental is offered in convenient and flexible options. Fuel and Driver's meals/accommodation is flexible and can be discussed openly.
<br />
<strong>Honda City</strong> is one of the most refined sedan in its class. With the honda city, you are provided with generous space while having the luxury of comfort. honda city has ample luggage space to accommodate your luggages despite of being a sedan. and built to give you the right comfort in your daily travel.
<br />
<strong>Toyota Vios</strong> is light and easy to drive. most practical and easy to maintain. same with the other sedans, it can bring you safely to your destinations.

&nbsp;
<br />
<h2>Available Units for Rent</h2>
<br /><strong>Honda City 2018</strong>
<br />Automatic Transmission, 1.5L
<br />Driver + 4 persons + 2 trolleys
<br />
<br /><strong>Toyota vios 2015</strong>
<br />Automatic Transmission, 1.5L
<br />Driver + 4 persons + 2 trolleys
<br />
<br />Gallery:
