
<div>
    <h4>Summay</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Item </th>
            <th>Rate </th>
        </tr>
        <tr>
            <td id="smry-itour"> Tour </td>
            <td id="smry-rtour"> </td>
        </tr>
        <tr>
            <td id="smry-idays"> Days </td>
            <td id="smry-rdays"> </td>
        </tr>
        <tr>
            <td id="smry-iVehicle"> </td>
            <td id="smry-rVehicle"> </td>
        </tr>
        <tr>
            <td id="smry-iType"> Rental Type </td>
            <td id="smry-rType"> </td>
        </tr>
        <tr>
            <td id="smry-iFuel"> Fuel </td>
            <td id="smry-rFuel"> </td>
        </tr>
        <tr>
            <td id="smry-iMeal"> Driver Meals/Accomodation </td>
            <td id="smry-rMeal"> </td>
        </tr>
        <tr>
            <td id="smry-itotal"> Total </td>
            <td id="smry-rtotal"> </td>
        </tr>
</table>
</div>