
<img src="~/Images/LOGO_AJRENTACAR.jpg" width="200" />

<h2>Thank you for the Reservation. </h2>
<p>We will contact you through provided email and mobile number.</p>

@Html.ActionLink("Back", "Index" , null, new { @class = "btn btn-default"})