
@{
    ViewBag.Title = "SedanListing";
}

<div class="jumbotron">

    <h2>Sedan Listing</h2>
     <p>
         <a>Category</a> >
         <a>Sedan</a>
     </p>
</div>
<div class="container" >
    <div class="col-lg-8" style="min-width:500px;margin-right:5px;border:1px solid white;">
       
        <div class="col-sm-12" style="padding:5px 20px; border:1px solid lightgray;margin:5px;box-shadow: 0px 0px 3px 1px lightgray;border-radius:5px;">
           <h3>Listing for Sedan <span class="badge" style="font-size:20px;"> 2 </span></h3>
       </div>

        <div class="col-sm-12"  style="border:1px solid lightgray;margin:5px;box-shadow: 0px 0px 3px 1px lightgray;border-radius:5px;">
            <div >
                <img src="~/Images/CarRental/HondaCityPrimary.png" style="width:100px;height:100px;float:left;margin:10px;" />
            </div>

            <div >
                <h3 style="float:right;font-weight:bold;" class="btn btn-success">PHP 2,000</h3>

                <h3>Honda Civic</h3>
                <h4 class="label label-default">Sedan</h4>
                <h4 class="label label-default">Honda</h4>
                <hr />
                <p >Honda Civic 2012, Diesel, Milage: 1000, 5 persons driver, w/ or w/o driver included.</p>
                <br />
            </div>

        </div>

        <div class="col-sm-12" style="border:1px solid lightgray;margin:5px;box-shadow: 0px 0px 3px 1px lightgray;border-radius:5px;">

            <h3 style="float:right;font-weight:bold;" class="btn btn-success">PHP 2,000</h3>
            <img src="~/Images/CarRental/HondaCityPrimary.png" style="width:100px;height:100px;float:left;margin:10px;" />
            <h3>Honda City</h3>
            <h4 class="label label-default">Sedan</h4>
            <h4 class="label label-default">Honda</h4>
            <hr />
            <p>Honda Civic 2012, Diesel, Milage: 1000, 5 persons, w/ or w/o driver included. </p>
        </div>
    
    </div>
    <div class="col-lg-3">

        <div class="col-lg-3 ads-tech-details" style="border:1px solid lightgray;padding:20px 20px;margin-bottom:5px;box-shadow: 0px 0px 3px 1px lightgray;border-radius:10px;">
            
            <h3>Tags</h3>
            <div class="ads-desc-tags">
                <a class="btn btn-primary">Sedan</a>
                <a class="btn btn-primary">Car Rental Davao</a>
                <a class="btn btn-primary">Davao Rent a Car</a>
                <a class="btn btn-primary">Rent a Car</a>
                <a class="btn btn-primary">Davao  Car rental</a>
                <a class="btn btn-primary">Van rent davao</a>
                <a class="btn btn-primary">Best  Car rental</a>
                <a class="btn btn-primary">Affordable  Car rental</a>
                <a class="btn btn-primary">Van rent davao</a>
            </div>
        </div>


        <div class="col-lg-3 ads-link" >
            <h3>
                Popular Ads
            </h3>
            <p>
                <hr /> <a href="~/ads/honda-city-automatic/"> Honda City 2018</a>
                <hr /> <a href="~/ads/rent-a-car-suv-for-rent-davao-city/"> Ford Everest 2016</a>
            </p>

        </div>
    </div>
</div>


