
@{
    ViewBag.Title = "Palawan Operators Tourist Transport Multi-purpose Cooperative";
    ViewBag.Description =
@" Palawan Operators Tourist Transport Multi-purpose Cooperative is a Legit Tourist transport based in Puerto Princesa City Palawan and POTTMPC is a DOT, OTC and PPCTO accredited. The POTTMPC is the first transport Multi- purpose cooperative here in Palawan.";
}

<div class="col-lg-12" style="background-color:white;margin-top:50px;margin-bottom:50px;">
    <h2>About Us : <span style="color:dodgerblue;">POTTMPC</span></h2>
</div>
<hr />
<div class="container">
    <br />
    <div class="col-lg-12 container" style="margin-top:10px;margin-bottom:50px;">
        <div class="col-lg-5 text-left" style="margin-right:190px;">

            <h2> Palawan Operators Tourist Transport Multi-purpose Cooperative</h2>

            <p>
                Palawan Operators Tourist Transport Multi-purpose Cooperative is a Legit Tourist transport based in Puerto Princesa City Palawan and POTTMPC is a DOT, OTC and PPCTO accredited. The POTTMPC is the first transport Multi- purpose cooperative here in Palawan.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="~/Images/POTTMPC/POTTMPC_logo.png" width="250" style="text-align:center" />
        </div>
    </div>

    <div class="container" style="margin-top:90px;margin-bottom:90px;border:">

        <div class="col-lg-5 text-center" style="border:1px solid lightgray; padding:40px;margin:40px;">
            <img src="~/Images/POTTMPC/icons/icons8-checkmark-64.png" width="70" />
            <h2> Mission </h2>
            <p>
                To deliver reliable, Safe, convenient services to our clients and provide better
                future to each member in patronizing our own program
            </p>
        </div>
        <div class="col-lg-5 text-center" style="border:1px solid lightgray; padding:40px;margin:40px;">
            <img src="~/Images/POTTMPC/icons/icons8-star-96.png" width="70" />
            <h2>
                Vision
            </h2>
            <p>
                Help develop  a better community of transport entrepreneurs,
                become a true lover of nature dealing with individuals in preservation and
                economy grower.
            </p>
        </div>
    </div>
    <hr />
    <p>&nbsp</p>
    <!--Organization chart-->
    <div class="col-lg-12">
        <h2 style="text-align:center;">Organization Chart</h2>
        <img src="~/Images/POTTMPC/org chart.jpg" class="img-responsive" alt="POTTMPC Organization chart" />
    </div>

    &nbsp;

    &nbsp;
    <div class="col-lg-12" style="padding:50px;background-color:dodgerblue;color:white;margin-left:-70px;width:112.5%;">
        <img style="float:left;margin:30px 80px;" src="~/Images/POTTMPC/icons/icons8-new-ticket-104.png"   />
        <h2>Booking and Reservation</h2>
        <h4>
            <em>POTTMPC </em> also makes arrangements, reservation and booking for your transportation needs. 
           <br /> Contact Us for Booking and Inquiries
            <br /><br />
        </h4>
        <p>
           <a href="tel:+639171149186" class="btn btn-default" style="padding:12px;"><span class="glyphicon glyphicon-phone"> </span> (+63) 917-114-9186 </a>
           <a href="mailto:POTTMPC@yahoo.com" class="btn btn-default"  style="padding:12px;"><span class="glyphicon glyphicon-envelope"> </span> POTTMPC@yahoo.com</a><br />
        </p>
    </div>
</div>

@Html.Action("MobileModalView")