
<img src="~/Images/POTTMPC/POTTMPC_logo.png" width="130" />

<h1> Thank you for the Reservation. </h1>
<h4> Reservation No:  @ViewBag.rsvId  </h4>

<div>
    <p>Dear Valued Customer,</p>
    <p>Thank you for your reservation.  </p>
    <p>
        This is also to inform you that we are still in the process of developing our online payment system to further enhance our services.
        For the meantime, in order to confirm your booking with us, we require the 10% partial payment of the total estimated cost to be deposited in the bank given below.  
    </p>
    <p>
        <br />
        Yours Truly,<br /><br />
        <span class="userRemarks">POTTMPC</span><br />
        <span class="userRemarks">Mobile: (+63) 917-114-9186</span><br />
        <span class="userRemarks">Email: POTTMPC@yahoo.com</span><br />
        <br />
    </p>
</div>

@Html.ActionLink("Back to Home", "Index" , null, new { @class = "btn btn-default"})

